:root {
    --nv-color: rgb(0 0 70);
    --bg-color: rgb(255 255 255);
    --h-color: rgb(0 0 0);
    --or-color: rgb(255 100 0);
    --decoration-tx: none;
    --text-dec: underline;
    --bk-color: transparent;

}



header {
    background-color: var(--nv-color);
    /* Fond bleu sombre global */
    display: flex;
    justify-content: space-between;
    /* Titre à gauche, menu à droite */
    align-items: center;
    padding: 10px 20px;
    width: 100%;


}



/*style nav element */
/*nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 60px;
    background-color: var(--nv-color);
    border: 1.5px solid var(--nv-color);
    list-style-type: none;
    margin: 0;
    padding: 10px;


}*/

.navigation a {
    color: var(--bg-color);
    text-decoration: var(--decoration-tx);
    background-color: var(--nv-color);
    text-align: left;
    display: block;
    width: 100%;
    padding: 10px 10px;

}

.navigation a:hover {
    color: var(--or-color);
    text-decoration: var(--text-dec);
    /*this makes the navigation to change the color and get underlined when the mouse passes by.*/
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0 auto;
}

main {

    max-width: 50rem;
    margin: 20px auto;
    padding: 0 20px;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1px;
    padding: 2px;
    margin: 0 auto;




}



h1 {

    color: var(--bg-color);

}

h2 {
    text-align: center;
    color: var(--h-color);
}

figure {
    background-color: var(--bg-color);

}

img {
    width: 100%;
    height: auto;
    margin: 0.5rem;



}

figcaption {
    font-size: small;
    text-align: center;
}

footer {
    border: 1.5px solid var(--nv-color);
    background-color: var(--nv-color);
    color: var(--bg-color);
    text-align: center;

}

#hamburger-btn.show::before {
    content: "❎"
}

#hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*size of the button*/
    width: 30px;
    height: 24px;
    background: var(--bk-color);
    border: none;
    cursor: pointer;


}

/*Draw the 3 bars due to the span tags*/
#hamburger-btn span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--bg-color);
    border-radius: 2px;
}

/*Draw the 3 bars due to the span tags*/



.navigation.show {
    display: flex;
}




.navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--nv-colorvcolor);
    list-style-type: none;



}