:root {
    --nv-color: rgb(0 0 70);
    --bg-color: rgb(255 255 255/0.7);
    --h-color: rgb(0 0 0);
    --or-color: rgb(255, 100, 0);
    --decoration-tx: none;
    --text-dec: underline;
    --bk-color: transparent;

}



/*style nav element */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 60px;
    background-color: var(--nv-color);
    border: 1.5px solid var(--nv-color);
    list-style-type: none;
    margin: 0;
    padding: 20px;


}

nav ul a {
    color: var(--bg-color);
    text-decoration: var(--decoration-tx);
}

nav ul a:hover {
    color: var(--or-color);
    text-decoration: var(--text-dec);
    /*this makes the navigation to change the color and get underlined when the mouse passes by.*/
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

main {

    max-width: 50rem;
    margin: 0;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1px;
    padding: 2px;
    margin: 0 auto;




}



h1 {
    position: absolute;
    color: var(--bg-color);
    left: 15px;
    top: 6px;
}

h2 {
    text-align: center;
    color: var(--h-color);
}

figure {
    background-color: var(--bg-color);

}

img {
    width: 100%;
    height: auto;
    margin: 0.5rem;



}

figcaption {
    font-size: small;
    text-align: center;
}

footer {
    border: 1.5px solid var(--nv-color);
    background-color: var(--nv-color);
    color: var(--bg-color);
    text-align: center;

}

#hamburger-btn.show::before {
    content: "❎"
}

#hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*size of the button*/
    width: 30px;
    height: 24px;
    background: var(--bk-color);
    border: none;
    cursor: pointer;
    padding: 0;

}

/*Draw the 3 bars due to the span tags*/

#hamburger {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--bg-color);
    border: 2px;
}